apiVersion: v1
clusters:
- cluster:
    server: https://napi.arvancloud.ir/caas/v2/regions/ir-central1
  name: ir-central1
contexts:
- context:
    cluster: ir-central1
    namespace: pardazeshabri
    user: b5e2a22a-d8b7-54da-9351-67de56d79370
  name: ir-central1
current-context: ir-central1
kind: Config
users:
- name: b5e2a22a-d8b7-54da-9351-67de56d79370
  user:
    token: 44b86a18-ad4f-57a3-a3f9-145b41810d04